#sidebar {
    width: 300px;
    background-color: hsl(0, 0, 100);
    position: fixed;
    height: 100%;
    padding: 56px 44px;

    .sidebar__logo {
        display: block;
        margin-bottom: 14px;
    }
 
    .sitebar__title {
        margin-bottom: 0.5rem;
    }

    .sidebar__desc {
        margin-top: 0.5rem;
    }

    .sidebar__nav {
        margin-top: 5.5rem;
        margin-left: -0.5rem;
    }

    .sidebar__foot {
        position: absolute;
        bottom: 33px;
        left: 44px;
    }

    .c-line {
        height: 1px;
        width: 9px;
        background-color: hsl(0, 0, 0);
    }
}
