*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%; 
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: hsl(0,0,70);
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 1.3em;
    line-height: 1.4;
    color: hsl(0, 0, 0);
}

a {
    text-decoration: none;
    color: hsl(0, 0, 0);
}

button, input, optgroup, select, textarea, ul, ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 0;
}

small {
    font-size: 1rem;
}

input {
    outline: none;
    height: 2.1rem;
    padding: 0.1rem 0.4rem 0;

    &:focus {
        // border: 1px solid hsl(0,0,70);
    }

    &[type=checkbox] {
        visibility: hidden;
        width: 1.8rem;
        vertical-align: top;
    }
}
