.c-sitenav__link {
    display: inline-block;
    color: 1.4rem;
    padding: 0 0.5rem;

    &.is-active {
        background-color: hsl(0, 0, 0);
        color: hsl(0, 0, 100);
    }
}

.c-sitenav__item {
    margin-bottom: 1.5rem;
}

.c-tight-line {
    line-height: 1;
}
